* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI;
}

body {
    background: #0f172a;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    background: #111827;
    position: sticky;
    top: 0;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

section {
    padding: 80px;
}

.hero {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 60px;
}

.btn {
    padding: 12px 20px;
    background: #2563eb;
    border-radius: 8px;
    margin-top: 20px;
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    transition: .3s;
}

.card:hover {
    transform: translateY(-10px);
}

.project {
    background: #1e293b;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
}

input,
textarea {
    display: block;
    width: 350px;
    padding: 10px;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.fade {
    opacity: 0;
    transform: translateY(40px);
    transition: 1s;
}

.fade.show {
    opacity: 1;
    transform: translateY(0);
}